{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{url_for('static',filename='instructor_dashboard.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
  {% endblock %}
    {% block content %}
    <body>
    <div class="form-container">
    <form method="post" enctype="multipart/form-data">
        <h3>Add Course</h3>
        <label for="name">Name</label>
        <input name="name" type="text" id="name" placeholder="name" required>
        <label for="desc">Description</label>
        <textarea id="desc" name="desc" rows="4" cols="45"></textarea>
        <label for="iname">Instructor's Name</label>
        <input name="iname" type="text" id="iname" placeholder="name" required>
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" accept=".jpg,.jpeg,.png">
        <label for="course">Category:</label>
        <label for="free" class="radio"><input type="radio" id="free" name="course" value="free" checked>Free</label>
        <label for="premium" class="radio"><input type="radio" id="premium" name="course" value="premium">Premium</label>
        <div id="premium-input" style="display: none;">
            <label for="price">Price</label>
            <input type="number" id="price" name="price" placeholder="0" >
        </div>
        <input type="submit" value="Add" class="button">
      </form>
      <form method="post" action="{{url_for('remove_course')}}">
        <h3>Remove Course</h3>
        <label for="name">Name</label>
        <input name="name" type="text" id="name" placeholder="name" required>
        <input type="submit" value="Remove" class="button">
      </form>
    </div>
      <script>
        const freeRadio = document.querySelector('input[value="free"]');
        const premiumRadio = document.querySelector('input[value="premium"]');
        const premiumInput = document.getElementById('premium-input');

        premiumRadio.addEventListener('change', function () {
            if (premiumRadio.checked) {
                premiumInput.style.display = 'block'; 
            } else {
                premiumInput.style.display = 'none'; 
            }
        });
    </script>

{% endblock content %}